DEBUG=TRUE

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_MAX_CONNECTIONS=5
DEEPSEEK_TIMEOUT=20

UNSPLASH_API_KEY=
UNSPLASH_MAX_CONNECTIONS=5
UNSPLASH_TIMEOUT=20

S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET_NAME=sites
S3_ACCESS_KEY=your_minio_access_key
S3_SECRET_KEY=your_minio_secret_key

GOTENBERG__ENDPOINT_URL=https://demo.gotenberg.dev
GOTENBERG__WIDTH=1000
GOTENBERG__FORMAT=png
GOTENBERG__MAX_CONNECTIONS=5
GOTENBERG__TIMEOUT=10.0
GOTENBERG__WAIT_DELAY=8.0
