DEBUG=TRUE

DEEPSEEK__API_KEY=
DEEPSEEK__BASE_URL=https://api.deepseek.com/v1
DEEPSEEK__MODEL=deepseek-chat
DEEPSEEK__MAX_CONNECTIONS=5
DEEPSEEK__TIMEOUT=20

UNSPLASH__API_KEY=
UNSPLASH__MAX_CONNECTIONS=5
UNSPLASH__TIMEOUT=20

S3__ENDPOINT_URL=http://localhost:9000
S3__BUCKET_NAME=sites
S3__ACCESS_KEY=your_minio_access_key
S3__SECRET_KEY=your_minio_secret_key

GOTENBERG__ENDPOINT_URL=https://demo.gotenberg.dev
GOTENBERG__WIDTH=1000
GOTENBERG__FORMAT=png
GOTENBERG__MAX_CONNECTIONS=5
GOTENBERG__TIMEOUT=10.0
GOTENBERG__WAIT_DELAY=8.0
