DEBUG=TRUE

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_MAX_CONNECTIONS=5
DEEPSEEK_TIMEOUT=20

UNSPLASH_API_KEY=
UNSPLASH_MAX_CONNECTIONS=5
UNSPLASH_TIMEOUT=20